/* Basic Styling */

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  background: #fff;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
}

img {
  width: 100%;
}

/* utilities */
.blank-line {
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  display: block;
}
.blank-line-a {
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.header-btn {
  color: lightgray;
  font-size: 14px;
  letter-spacing: 1.5px;
  display: inline-block;
}
.header-btn a {
  margin: 10px 0;
  padding: 10px 0;
}
.header-btn:hover {
  opacity: 0.7;
}

.progress-btn {
  color: lightgray;
  font-size: 14px;
  letter-spacing: 1.5px;
  display: inline-block;
  text-align: center;
}
.progress-btn:hover {
  opacity: 0.7;
}

/* Header Styling */

#header-home {
  background-image: linear-gradient(
    to right,
    #4672b5,
    #6c77bc,
    #8c7dc0,
    #a782c2,
    #c089c2
  );
  color: #fff;
  height: 100vh;
}
.container {
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
}

/* Navbar styling */
#navbar {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 35px 0;
}
.nav-items {
  display: flex;
  letter-spacing: 1.2px;
  font-weight: bold;
}
.nav-items li {
  padding-right: 30px;
}
.nav-items li:last-child {
  padding: 0;
}
#logo a,
.nav-items li a {
  color: #fff;
}

.nav-items li a:hover {
  opacity: 0.7;
}

#logo {
  font-size: 24px;
  font-weight: normal;
}
#logo a:hover {
  opacity: 0.7;
}

/* description class styling */

.description {
  padding: 30px 0;
  width: 50%;
}
.description h2 {
  font-weight: normal;
  font-size: 35px;
}
/* images class styling */
.header-imgs {
  padding: 20px 0;
}
.header-imgs h4 {
  font-weight: normal;
  color: lightgray;
  font-size: 16px;
}

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 0;
  grid-gap: 20px;
}

.images .img {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #333;
  background: #fff;
  border-radius: 5px;
}
.images video {
  width: 100%;
}
.images .img img {
  display: block;
}
.images h3 {
  font-size: 18px;
  padding: 15px 0;
}

/* section a styling */

#section-a {
  background: #fff;
}
.container-a {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
.content-a {
  padding: 50px 0;
}
.content-a p {
  font-size: 32px;
  padding-bottom: 10px;
}
.content-a a {
  color: gray;
}

/* section b styling */

.content-b h4 {
  font-weight: normal;
  color: gray;
  font-size: 16px;
  padding: 20px 0 0 0;
}

.blog:hover {
  opacity: 0.7;
}

.content-b .header-btn {
  color: gray;
}

/* SECTION C STYLING */

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text .header-btn {
  color: gray;
}
.text h3 {
  letter-spacing: 1.5px;
  padding-bottom: 10px;
}
.content-c {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 35px 0;
}
.content-c-imgs {
  display: grid;
  grid-template-areas:
    "img-1 img-1 img-2 img-3"
    "img-1 img-1 img-4 img-5";
  grid-gap: 20px;
}
.img-1 {
  grid-area: img-1;
}
.img-2 {
  grid-area: img-2;
}
.img-3 {
  grid-area: img-3;
}
.img-4 {
  grid-area: img-4;
  height: 100%;
}
.img-5 {
  grid-area: img-5;
}

/* footer styling */
.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 20px 0;
}
footer i {
  padding-right: 5px;
  cursor: pointer;
  color: gray;
}
footer i:hover {
  opacity: 0.7;
}

.main-footer a {
  color: gray;
  font-size: 14px;
  letter-spacing: 1.5px;
  display: inline-block;
  text-align: center;
  padding-right: 10px;
}
.main-footer a:hover {
  opacity: 0.7;
}
